<div class="top-image">
  <%# 単語ボタン %>
  <div class="learn-box">
    <div class="learn-tags">
      <%= link_to "開始", counts_path, class:"start-tag" %>
      <%= link_to "作成", new_question_path, class:"new-tag" %>
    </div>
  </div>

  <%# 単語一覧 %>
  <div class="q-a-index" >
    <ul id="question">
      <% @question.each do |q| %>
        <%= link_to question_path(q.id) do %>
        <div class="q-a-box"  >
          <% if user_signed_in? && q.user_id == current_user.id %>
            <div class='genre-tag' >
              <%= q.genre.name  %>
            </div>
            <div class="q-a-tag">
              <%= image_tag q.image, class:'q-img' if q.image.attached? %>
              <li class="question-tag"><%= q.question %></li>
              <li class="answer-tag" ><%= q.answer %></li>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%# 実施の結果 %>
  <div class="result-box">
  </div>
</div>